/**
 * Show Modal
 */
.modal-show {
  display: block; }
  .modal-show .modal-content {
    border-radius: 3px; }

.bgp-attributes-modal .modal-header p {
  margin: 0px;
  font-size: 10px; }

.bgp-attributes-modal .modal-header h4 {
  font-size: 14px;
  margin: 0px; }

.bgp-attributes-modal table th {
  width: 142px; }

.table-nolines td, .table-nolines th {
  border: none !important; }
