/*
 * HEADER
 */
.page-sidebar {
  color: #f0f0f0; }
  .page-sidebar h2 {
    color: #b0b0b0;
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 15px; }
  .page-sidebar .sidebar-header {
    color: #f0f0f0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background: #222; }
    .page-sidebar .sidebar-header .logo {
      flex: 0 0 45px;
      padding: 10px 8px; }
      .page-sidebar .sidebar-header .logo i {
        font-size: 28px; }
    .page-sidebar .sidebar-header .title {
      flex: 1; }
      .page-sidebar .sidebar-header .title h1 {
        margin: 7px 0px 0px 0px;
        padding: 3px 0px;
        font-size: 13px;
        color: #f0f0f0; }
      .page-sidebar .sidebar-header .title p {
        font-size: 10px;
        color: #f0f0f0; }
  .page-sidebar .routeservers-list {
    margin-top: 40px; }
    .page-sidebar .routeservers-list ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
    .page-sidebar .routeservers-list li {
      padding: 8px;
      padding-left: 15px;
      cursor: pointer; }
    .page-sidebar .routeservers-list .routeserver-id {
      font-size: 13px;
      display: block; }
    .page-sidebar .routeservers-list .routeserver-status .bird-version {
      font-size: 10px;
      color: #888888; }
