.page-header {
  padding: 0px 20px; }
  .page-header .status-name {
    font-weight: bold; }
  .page-header .status-protocol {
    font-weight: bold; }
  .page-header .spacer {
    font-weight: bold;
    padding: 0px 8px; }

.routeserver-status {
  margin: 0px;
  padding: 0px; }
  .routeserver-status td {
    vertical-align: top;
    padding: 4px; }
    .routeserver-status td i {
      width: 15px; }
